<html>
    <head>
        <title>Food Donation</title>
        <link rel="stylesheet" href="lib/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="lib/css/all.min.css">
        <link rel="stylesheet" href="lib/css/buefy.min.css">
        <link rel="stylesheet" href="lib/css/bulma.min.css">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
        
        </head>
    <body>
        <div id="app">
            <div v-if="page === 'login'" class="hero has-text-centered">
                <h1 class="title is-1 pt-3">Login</h1>
                <div class="hero-body columns">
                    <div class="column"></div>
                    <div class="column is-quarter">
                        <b-field label="Phone Number" :label-position="labelPosition">
                            <b-input type="number" @keyup.native.enter="login" v-model="phoneNumber" placeholder="Enter your phone number" required class="mt-2" validation-message="Phone number should not be empty"></b-input>
                        </b-field>
                        <b-button type="is-primary" outlined @click="login" class="p-button-text">Login</b-button>
                    </div>
                    <div class="column"></div>
                </div>
            </div>

            <div v-else-if="page === 'otp'" class="hero has-text-centered">
                <h1 class="title is-1 pt-3">OTP</h1>
                <div class="hero-body columns">
                    <div class="column"></div>
                    <div class="column is-quarter">
                        <b-field label="OTP" :label-position="labelPosition">
                            <b-input type="number" @keyup.native.enter="otpVerify" v-model="otp" placeholder="Enter OTP" required class="mt-2"></b-input>
                        </b-field>
                        <b-button type="is-primary " outlined @click="otpVerify">Verify</b-button>   
                        <b-button type="is-primary " outlined @click="page = 'login'">Back</b-button>
                    </div>
                    <div class="column"></div>
                </div>
            </div>

            <div v-else-if="page === 'home'" class="hero has-text-centered">
                <h1 class="title is-1 pt-3">{{header}}</h1>
                <div class="hero-body columns">
                    
                    <div class="column"></div>
                    <div class="column is-one-thirds">
                        <b-button type="is-primary " outlined @click="showProfile" class="p-button-text mt-3">Profile</b-button>
                        <b-button type="is-primary " outlined @click="signOut" class="p-button-text mt-3">Sign out</b-button><br>
                        <b-button type="is-primary " rounded outlined @click="showItem = !showItem" class="btn btn-primary mt-3">{{showItem ? "Cancel" :"Donate"}}</b-button>

                        <div v-if="showItem">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">     
                                        <b-field label="Name" :label-position="labelPosition">
                                            <b-input type="text" v-model="form.name" required class="mt-2"></b-input>
                                        </b-field>
                                        <b-field label="Phone Number" :label-position="labelPosition">
                                            <b-input type="number" v-model="form.phoneNumber" class="mt-4" required ></b-input>
                                        </b-field>
                                        <b-field label="Address Line 1" :label-position="labelPosition">
                                            <b-input type="text" v-model="form.addLine1" required></b-input>
                                        </b-field>
                                        <b-field label="Address Line 2" :label-position="labelPosition">
                                            <b-input type="text" v-model="form.addLine2" required></b-input>
                                        </b-field>
                                        <b-field label="Served For" :label-position="labelPosition">
                                            <b-input type="number" v-model="form.servedFor" required></b-input>
                                        </b-field>
                                        <b-checkbox v-model="form.foodTypeVeg" class="pl-6">Veg</b-checkbox>
                                        <b-checkbox v-model="form.foodTypeNonVeg" class="pr-6">Non Veg</b-checkbox><br>
                                        <b-button type="is-primary " outlined @click="postNow" class="p-button-text mt-4">Submit</b-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column"></div>  
                </div>
            </div>

            <div v-else-if="page === 'profile'" class="hero has-text-centered">
                <h1 class="title is-1 pt-6">Profile</h1>
                <div class="hero-body columns">
                    <div class="column"></div>
                    <div class="column is-quarter mb-5">
                        <b-field label="Phone Number" :label-position="labelPosition">
                            <b-input type="text" native-size="10" v-model="phoneNumber" readonly></b-input>
                        </b-field>
                        <b-field label="Name" :label-position="labelPosition">
                            <b-input type="text" v-model="profile.name" readonly></b-input>
                        </b-field>
                        <b-field label="Email" :label-position="labelPosition">
                            <b-input type="text" v-model="profile.email" readonly></b-input>
                        </b-field>
                        <b-button type="is-primary " outlined @click="edit" class="p-button-text">Edit</b-button>
                        <b-button type="is-primary " outlined @click="page = 'home'" class="p-button-text">Back</b-button>
                    </div>
                    <div class="column"></div>
                </div>
            </div>

            <div v-else-if="page === 'profile-edit'" class="hero has-text-centered">
                <h1 class="title is-1 pt-6">Edit Profile</h1>
                <div class="hero-body columns">
                    <div class="column"></div>
                    <div class="column is-quarter">
                        <b-field label="Phone Number" :label-position="labelPosition">
                            <b-input type="text" native-size="10" v-model="phoneNumber" readonly></b-input>
                        </b-field>
                        <b-field label="Name" :label-position="labelPosition">
                            <b-input type="text" v-model="profile.name" required></b-input>
                        </b-field>
                        <b-field label="Email" :label-position="labelPosition">
                            <b-input type="text" v-model="profile.email"></b-input>
                        </b-field>
                        <b-button type="is-primary " outlined @click="save" class="p-button-text">Save</b-button>
                        <b-button type="is-primary " outlined @click="page = 'profile'" class="p-button-text">Cancel</b-button>
                    </div>
                    <div class="column"></div>
                </div>
            </div>

            <div v-else-if="page === 'admin'" class="hero has-text-centered">
                <h1 class="title is-1 pt-6">Admin</h1>
                <div class="hero-body columns">
                    <div class="column is-quarter has-text-centered">
                        <b-button type="is-primary " outlined @click="signOut" class="p-button-text mb-5">Sign out</b-button><br>
                        <b-button type="is-primary " outlined @click="showDonation" class="p-button-text">Donations</b-button>
                        <b-button type="is-primary " outlined @click="showUser" class="p-button-text">User Details</b-button>
                        <b-table :data="userDetails" 
                        :columns="userColumns" 
                        :sort-icon="sortIcon" 
                        :sort-icon-size="sortIconSize" @cellclick="handleCellClick" v-if="showUserTable">
                        </b-table>
                        <b-table :data="donationDetails" :columns="donationColumns" :sort-icon="sortIcon" :sort-icon-size="sortIconSize" v-if="showDonationTable"></b-table>
                    </div>
                </div>
            </div>
        </div>

        <script src="lib/js/axios.min.js"></script>
        <script src="lib/js/vue.js"></script>
        <script src="lib/js/buefy.min.js"></script>
        <script src="lib/fontawesome/js/all.min.js" ></script>

        <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
        <script src="https://kit.fontawesome.com/bd90a56b74.js" crossorigin="anonymous"></script> -->
        <script>
            new Vue({
                el: '#app',
                data: {
                    val: '',
                    page: 'login',
                    header: "Food Donation",
                    form:{    
                        name: '' ,
                        phoneNumber: '',
                        addLine1: '',
                        addLine2: '',
                        servedFor: '',
                        foodTypeVeg: false,
                        foodTypeNonVeg: false,
                        foodtype: '',
                        dateTime: '',
                    },
                    profile:{
                        name: '',
                        email: '',
                    },
                    userRow:{
                        name: '',
                        phoneNumber: '',
                        email: '',
                    },
                    donationDetails: [],
                    donations: [],
                    userDetails: [],
                    users: [],
                    userStringified: [],
                    phoneNumber: '',
                    otp: '',
                    labelPosition: 'on-border',
                    oldUser: false,
                    showItem: false,
                    showDonationTable: false,
                    showUserTable: false,
                    // showModal: false,
                    formClick: false,
                    instance: null,
                    sortIcon: 'arrow-up',
                    sortIconSize: 'is-small',
                    donationColumns: [
                        {
                        field: "name",
                        label: "Name",
                        sortable: true,
                        },
                        {
                        field: "phoneNumber",
                        label: "Phone Number",
                        sortable: true,
                        },
                        {
                        field: "addLine1",
                        label: "Address Line 1",
                        sortable: true,
                        },
                        {
                        field: "addLine2",
                        label: "Address Line 2",
                        sortable: true,
                        },
                        {
                        field: "servedFor",
                        label: "Served For",
                        sortable: true,
                        },
                        {
                        field: "foodType",
                        label: "Food Type",
                        sortable: true,
                        },
                        {
                        field: "dateTime",
                        label: "Date/Time",
                        sortable: true,
                        }
                    ],
                    userColumns: [
                        {
                            field: "name",
                            label: "Name",
                            sortable: true,
                            width: '30%',
                        },
                        {
                            field: "phoneNumber",
                            label: "Phone Number",
                            sortable: true,
                            width: '20%',
                        },
                        {
                            field: "email",
                            label: "Email",
                            sortable: true,
                            width: '40%',
                        },
                        {
                            field: 'edit',
                            width: '5%',
                        },
                        {
                            field: 'delete',
                            width: '5%',
                        }
                    ],
                },
                mounted: function(){
                    console.log('mounted')
                    this.instance = axios.create({
                        // baseURL: 'https://astra.free.beeceptor.com',
                        baseURL: 'http://127.0.0.1:5000',
                        timeout: 30000,
                        headers: {
                            'Content-type': 'application/json',
                        }
                    });
                    this.profile.name = localStorage.getItem("name")
                    this.phoneNumber = localStorage.getItem("phoneNumber")
                    this.profile.email = localStorage.getItem("email")
                    console.log(this.phoneNumber)
                    if(this.phoneNumber === '12345'){
                        this.page = 'admin'
                    }
                    else if(this.phoneNumber === '' || this.phoneNumber === null){
                        this.page = 'login'
                    }
                    else if(this.phoneNumber !== ''){
                        this.page = 'home'
                    }
                },
                computed: {
                    foodType(){
                        if(this.form.foodTypeVeg === true && this.form.foodTypeNonVeg === true){
                            return "Both"
                        }
                        else if(this.form.foodTypeNonVeg === true){
                            return "Non Veg"
                        }
                        else if(this.form.foodTypeVeg === true){
                            return "Veg"
                        }
                    }
                },
                methods: {  
                    postNow(){
                        this.formClick = !this.formClick
                        console.log(axios) 

                        this.instance.post('/add_donation', {
                            name: this.form.name,
                            phoneNumber: this.form.phoneNumber,
                            addLine1: this.form.addLine1,
                            addLine2: this.form.addLine2,
                            servedFor: this.form.servedFor,
                            foodType: this.foodType,
                        })
                        this.donations.push({
                            name: this.form.name,
                            phoneNumber: this.form.phoneNumber,
                            addLine1: this.form.addLine1,
                            addLine2: this.form.addLine2,
                            servedFor: this.form.servedFor,
                            foodType: this.foodType,
                        })
                        localStorage.setItem("donations", JSON.stringify(this.donations))

                        this.$buefy.dialog.alert({
                            message: 'Form Submitted successfully!',
                            type: 'is-primary',
                            confirmText: 'You\'ve made someone happy : )',
                        })
                        this.showItem = false
                    },
                    login(){
                        if(this.phoneNumber === ''){
                            this.$buefy.dialog.alert({
                                message: 'Enter a phone number!',
                                type: 'is-danger',
                                hasIcon: true,
                                icon: 'times-circle',
                                iconPack: 'fa',
                                ariaRole: 'alertdialog',
                                ariaModal: true,
                            })
                        }
                        else{
                            this.page = 'otp'
                            this.form.phoneNumber = this.phoneNumber
                            
                            console.log(this.form)
                        }
                    },
                    otpVerify(){
                        if(this.otp === '123'){
                            if(this.phoneNumber === '12345'){
                                this.page = 'admin'   
                                this.showDonationTable = false
                                this.showUserTable = false
                            }
                            else{
                                this.page = 'home'
                            }
                            localStorage.setItem("phoneNumber", this.phoneNumber)
                        }
                        else{
                            this.$buefy.dialog.alert({
                                message: 'OTP Incorrect!',
                                type: 'is-danger',
                                hasIcon: true,
                                icon: 'times-circle',
                                iconPack: 'fa',
                                ariaRole: 'alertdialog',
                                ariaModal: true,
                            })
                        }   
                    },
                    signOut(){
                        localStorage.removeItem("phoneNumber")
                        this.phoneNumber = ''
                        this.page = 'login'   
                        this.form.name = '' 
                        this.form.addLine1 = ''
                        this.form.addLine2 = ''
                        this.form.servedFor = ''
                        this.form.foodTypeVeg = false
                        this.form.foodTypeNonVeg = false
                        this.form.foodtype = ''
                        this.form.dateTime = ''
                        this.otp = ''
                        this.profile.name = ''
                        this.profile.email = ''
                    },
                    edit(){
                        this.page = 'profile-edit'
                    },
                    save(){
                        this.page = 'profile'
                        // if(this.profile.name == '' && this.profile.email == ''){
                        //     this.instance.post('/add_user', {
                        //         name: this.profile.name,
                        //         email: this.profile.email,
                        //         phoneNumber: this.phoneNumber,
                        //     })
                        // }
                        // else{
                        //     this.instance.put('/update_user', {
                        //         name: this.profile.name,
                        //         email: this.profile.email,
                        //         phoneNumber: this.phoneNumber,
                        //     })
                        // }
                        this.instance.post('/add_user', {
                            name: this.profile.name,
                            email: this.profile.email,
                            phoneNumber: this.phoneNumber,
                        })
                        this.userDetails.push({
                            name: this.profile.name,
                            email: this.profile.email,
                            phoneNumber: this.phoneNumber,
                        })
                        localStorage.setItem("userDetails", JSON.stringify(this.userDetails))
                        console.log(this.userDetails)
                    },
                    showProfile(){
                        this.page = 'profile'
                        this.showNavbar = true
                        this.instance.get('/userProfile/'+this.phoneNumber)
                        .then((response) => {
                            console.log(response)
                            this.profile['name'] = response.data.profile.name
                            this.profile['email'] = response.data.profile.email
                            console.log(response.data.profile.name)
                        
                            if(response.data.profile.name == null){
                                this.oldUser = false
                            }
                        })
                        console.log(this.oldUser)
                        console.log(this.profile)
                    },
                    showDonation(){
                        this.showDonationTable = !this.showDonationTable
                        this.showUserTable = false
                        this.instance.get('/donations')
                        .then((response) => {
                            this.donationDetails = response.data.donations
                            for(var i=0;i<this.donationDetails.length;i++){
                                this.donationDetails[i]['dateTime'] = new Date(this.donationDetails[i]['dateTime']).toLocaleString({dateStyle:"short",timeStyle:"short"})
                            }
                            console.log(response)
                        })
                    },
                    showUser(){
                        this.showUserTable = !this.showUserTable
                        this.showDonationTable = false
                        this.instance.get('/users')
                        .then((response) => {
                            console.log(response)
                            this.userDetails = response.data.users
                            for(var i = 0; i < this.userDetails.length; i++){
                                this.userDetails[i]['edit'] = '<img src=lib/edit.svg>';
                                this.userDetails[i]['delete'] = '<img src=lib/delete.svg>';
                                console.log(this.userDetails[i])
                            }
                        })   
                    },
                    editUser(rowIndex){
                        const ModalForm = {
                            props: ['name', 'phoneNumber', 'email', 'rowIndex'],
                            data(){
                                return {
                                    newName: this.name,
                                    newEmail: this.email,
                                }
                            } ,
                            template: `
                                <form action="">
                                    <div class="modal-card" style="width: auto">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Login</p>
                                            <button
                                                type="button"
                                                class="delete"
                                                @click="$emit('close')"/>
                                        </header>
                                        <section class="modal-card-body">
                                            <b-field label="Name">
                                                <b-input
                                                    type="text"
                                                    v-model="newName"
                                                    required>
                                                </b-input>
                                            </b-field>

                                            <b-field label="Email">
                                                <b-input
                                                    type="email"
                                                    v-model="newEmail"
                                                    required>
                                                </b-input>
                                            </b-field>

                                            <b-field label="Phone Number">
                                                <b-input
                                                    type="number"
                                                    :value="phoneNumber"
                                                    required 
                                                    readonly>
                                                </b-input>
                                            </b-field>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <b-button
                                                label="Close"
                                                @click="$emit('close')" />
                                            <b-button
                                                label="Update"
                                                type="is-primary"
                                                @click="$emit('update', {name: newName, phoneNumber: phoneNumber, email: newEmail, rowIndex: rowIndex});$emit('close')" />
                                        </footer>
                                    </div>
                                </form>
                            `
                        }
                        this.$buefy.modal.open({
                            parent: this,
                            component: ModalForm,
                            hasModalCard: true,
                            props: {
                                'name': this.userDetails[rowIndex]['name'], 
                                'phoneNumber':this.userDetails[rowIndex]['phoneNumber'], 
                                'email':this.userDetails[rowIndex]['email'],
                                'rowIndex': rowIndex
                            },
                            events: {
                                update: this.updateUser
                            },
                            customClass: 'custom-class custom-class-2',
                            trapFocus: true
                        })
                        console.log(this.userDetails[rowIndex])
                    },
                    updateUser(event){
                        const rowIndex = event.rowIndex
                        delete event.rowIndex
                        this.instance.put('/update_user', event)
                        event.edit = '<img src=lib/edit.svg>'
                        event.delete = '<img src=lib/delete.svg>'
                        this.userDetails.splice(rowIndex, 1, event)
                        this.$buefy.toast.open('User details updated!')
                        // console.log('Triggered')
                        console.log(event)
                    },
                    deleteUser(rowIndex){
                        this.$buefy.toast.open('Account deleted!')
                        this.instance.delete('/delete_user/'+this.userDetails[rowIndex]['phoneNumber'])
                        this.userDetails.splice(rowIndex, 1)
                        // console.log(this.userDetails)
                    },
                    handleCellClick(row, col, rowIndex, colIndex){
                        console.log("handleCellClick >")
                        console.log(row)
                        console.log(col)
                        console.log(rowIndex)
                        console.log(colIndex)
                        if(colIndex === 4){
                            // console.log('delete')
                            this.$buefy.dialog.confirm({
                                title: 'Delete account',
                                message: 'Are you sure you want to <b>delete</b> this account? This action cannot be undone.',
                                confirmText: 'Delete Account',
                                type: 'is-danger',
                                hasIcon: true,
                                onConfirm: () => this.deleteUser(rowIndex)
                            })
                        }
                        if(colIndex === 3){
                            // this.showModal = true
                            this.editUser(rowIndex)
                            console.log('edit')
                        }
                    }
                }
            })
        </script>
    </body>
</html>